<div ng-hide="hideNavbar()" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/">Resume Database</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="navbarActive('/')"><a ng-href="#/">Home</a></li>
                <li ng-class="navbarActive('/resume')"><a ng-href="#/resume/list">Resume</a></li>
                <li><a ng-href="#/auth/logout">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
