<div class="modal-header">
    <h4>{{model.header}}</h4>
</div>
<div class="modal-body">
    {{model.body}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()"><i class="fa fa-check fa-lg"></i> OK</button>
    <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-ban fa-lg"></i> Cancel</button>
</div>

