<div class="container">

    <form class="form-signin" name="loginForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            Demo Users:<br/>
            username: <i>admin</i>, <i>manager</i>, or <i>user</i><br/>
            password: <i>password</i>
        </p>
        <div class="form-group" ng-class="{'has-error': !loginForm.username.$valid && loginHasBeenCalled}">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" required autofocus>
            <label class="control-label" for="username" ng-show="loginForm.username.$error.required && loginHasBeenCalled">
                Please enter Username!
            </label>
        </div>
        <div class="form-group" ng-class="{'has-error': !loginForm.password.$valid && loginHasBeenCalled}">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" required>
            <label class="control-label" for="password" ng-show="loginForm.password.$error.required && loginHasBeenCalled">
                Please enter Password!
            </label>
        </div>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" ng-model="model.rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()">
            <i class="fa fa-sign-in fa-lg"></i> Sign in
        </button>
    </form>

</div> <!-- /container -->